<div class="stats">
<div class="stat open"><b data-stat="open">{{ stats.open }}</b>{{ t('open_problems') }}</div>
<div class="stat prog"><b data-stat="progress">{{ stats.progress }}</b>{{ t('in_progress') }}</div>
<div class="stat done"><b data-stat="closed">{{ stats.closed }}</b>{{ t('solved') }}</div>
<div class="stat"><b data-stat="jobs">{{ stats.jobs }}</b>{{ t('open_jobs') }}</div>
<div class="stat"><b data-stat="food">{{ stats.food }}</b>{{ t('food_avail') }}</div>
<div class="stat"><b data-stat="helpers">{{ stats.helpers }}</b>{{ t('helpers') }}</div></div>
